In [305]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [306]:
df = pd.read_csv("athlete_events.csv")
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [307]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [308]:
df.duplicated().sum()

np.int64(1385)

In [309]:
df.drop_duplicates(keep='first' , inplace=True)

In [310]:
df.shape

(269731, 15)

In [311]:
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [312]:
refion = pd.read_csv("noc_regions.csv")
refion ##for Country Name

     NOC       region                 notes
0    AFG  Afghanistan                   NaN
1    AHO      Curacao  Netherlands Antilles
2    ALB      Albania                   NaN
3    ALG      Algeria                   NaN
4    AND      Andorra                   NaN
..   ...          ...                   ...
225  YEM        Yemen                   NaN
226  YMD        Yemen           South Yemen
227  YUG       Serbia            Yugoslavia
228  ZAM       Zambia                   NaN
229  ZIM     Zimbabwe                   NaN

[230 rows x 3 columns]

In [313]:
df = df.merge(refion , on='NOC' , how='left' )
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269726,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN,Poland,NaN
269727,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,Poland,NaN
269728,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,Poland,NaN
269729,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN,Poland,NaN
269730,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN,Poland,NaN

In [314]:
df[["Name" , "Team" , "NOC" , "Season" , "Sport" , "Event" , "Medal" , "region"]] = df[["Name" , "Team" , "NOC" , "Season" , "Sport" , "Event" , "Medal" , "region"]].apply(lambda col : col.str.lower())

In [315]:
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,a dijiang,M,24.0,180.0,80.0,china,chn,1992 Summer,1992,summer,Barcelona,basketball,basketball men's basketball,NaN,china,NaN
1,2,a lamusi,M,23.0,170.0,60.0,china,chn,2012 Summer,2012,summer,London,judo,judo men's extra-lightweight,NaN,china,NaN
2,3,gunnar nielsen aaby,M,24.0,NaN,NaN,denmark,den,1920 Summer,1920,summer,Antwerpen,football,football men's football,NaN,denmark,NaN
3,4,edgar lindenau aabye,M,34.0,NaN,NaN,denmark/sweden,den,1900 Summer,1900,summer,Paris,tug-of-war,tug-of-war men's tug-of-war,gold,denmark,NaN
4,5,christine jacoba aaftink,F,21.0,185.0,82.0,netherlands,ned,1988 Winter,1988,winter,Calgary,speed skating,speed skating women's 500 metres,NaN,netherlands,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269726,135569,andrzej ya,M,29.0,179.0,89.0,poland-1,pol,1976 Winter,1976,winter,Innsbruck,luge,luge mixed (men)'s doubles,NaN,poland,NaN
269727,135570,piotr ya,M,27.0,176.0,59.0,poland,pol,2014 Winter,2014,winter,Sochi,ski jumping,"ski jumping men's large hill, individual",NaN,poland,NaN
269728,135570,piotr ya,M,27.0,176.0,59.0,poland,pol,2014 Winter,2014,winter,Sochi,ski jumping,"ski jumping men's large hill, team",NaN,poland,NaN
269729,135571,tomasz ireneusz ya,M,30.0,185.0,96.0,poland,pol,1998 Winter,1998,winter,Nagano,bobsleigh,bobsleigh men's four,NaN,poland,NaN
269730,135571,tomasz ireneusz ya,M,34.0,185.0,96.0,poland,pol,2002 Winter,2002,winter,Salt Lake City,bobsleigh,bobsleigh men's four,NaN,poland,NaN

In [316]:
def Whichseason(season):
    return df[df['Season'] == season]

In [317]:
Whichseason("Winter")

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal, region, notes]
Index: []

In [318]:
df_summer = df[df['Season'] == "summer"]
df_summer

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,a dijiang,M,24.0,180.0,80.0,china,chn,1992 Summer,1992,summer,Barcelona,basketball,basketball men's basketball,NaN,china,NaN
1,2,a lamusi,M,23.0,170.0,60.0,china,chn,2012 Summer,2012,summer,London,judo,judo men's extra-lightweight,NaN,china,NaN
2,3,gunnar nielsen aaby,M,24.0,NaN,NaN,denmark,den,1920 Summer,1920,summer,Antwerpen,football,football men's football,NaN,denmark,NaN
3,4,edgar lindenau aabye,M,34.0,NaN,NaN,denmark/sweden,den,1900 Summer,1900,summer,Paris,tug-of-war,tug-of-war men's tug-of-war,gold,denmark,NaN
26,8,"cornelia ""cor"" aalten (-strannood)",F,18.0,168.0,NaN,netherlands,ned,1932 Summer,1932,summer,Los Angeles,athletics,athletics women's 100 metres,NaN,netherlands,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269721,135565,fernando scar zylberberg,M,27.0,168.0,76.0,argentina,arg,2004 Summer,2004,summer,Athina,hockey,hockey men's hockey,NaN,argentina,NaN
269722,135566,"james francis ""jim"" zylker",M,21.0,175.0,75.0,united states,usa,1972 Summer,1972,summer,Munich,football,football men's football,NaN,usa,NaN
269723,135567,aleksandr viktorovich zyuzin,M,24.0,183.0,72.0,russia,rus,2000 Summer,2000,summer,Sydney,rowing,rowing men's lightweight coxless fours,NaN,russia,NaN
269724,135567,aleksandr viktorovich zyuzin,M,28.0,183.0,72.0,russia,rus,2004 Summer,2004,summer,Athina,rowing,rowing men's lightweight coxless fours,NaN,russia,NaN
269725,135568,olga igorevna zyuzkova,F,33.0,171.0,69.0,belarus,blr,2016 Summer,2016,summer,Rio de Janeiro,basketball,basketball women's basketball,NaN,belarus,NaN

In [319]:
df_summer['region'].unique().shape

(206,)

In [320]:
df_summer.groupby(['NOC'])['Medal'].count().sort_values(ascending=False).reset_index()

     NOC  Medal
0    usa   5002
1    urs   2063
2    gbr   1984
3    ger   1779
4    fra   1617
..   ...    ...
225  van      0
226  yem      0
227  yar      0
228  vnm      0
229  ymd      0

[230 rows x 2 columns]

In [321]:
df_summer['Medal'].value_counts()
##to show diffrent medel in one country

Medal
gold      11456
bronze    11409
silver    11212
Name: count, dtype: int64

In [322]:
df_summer = pd.concat([df , pd.get_dummies(data = df_summer['Medal'] , dtype='int64')] , axis=1)
df_summer

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,bronze,gold,silver
0,1,a dijiang,M,24.0,180.0,80.0,china,chn,1992 Summer,1992,summer,Barcelona,basketball,basketball men's basketball,NaN,china,NaN,0.0,0.0,0.0
1,2,a lamusi,M,23.0,170.0,60.0,china,chn,2012 Summer,2012,summer,London,judo,judo men's extra-lightweight,NaN,china,NaN,0.0,0.0,0.0
2,3,gunnar nielsen aaby,M,24.0,NaN,NaN,denmark,den,1920 Summer,1920,summer,Antwerpen,football,football men's football,NaN,denmark,NaN,0.0,0.0,0.0
3,4,edgar lindenau aabye,M,34.0,NaN,NaN,denmark/sweden,den,1900 Summer,1900,summer,Paris,tug-of-war,tug-of-war men's tug-of-war,gold,denmark,NaN,0.0,1.0,0.0
4,5,christine jacoba aaftink,F,21.0,185.0,82.0,netherlands,ned,1988 Winter,1988,winter,Calgary,speed skating,speed skating women's 500 metres,NaN,netherlands,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269726,135569,andrzej ya,M,29.0,179.0,89.0,poland-1,pol,1976 Winter,1976,winter,Innsbruck,luge,luge mixed (men)'s doubles,NaN,poland,NaN,NaN,NaN,NaN
269727,135570,piotr ya,M,27.0,176.0,59.0,poland,pol,2014 Winter,2014,winter,Sochi,ski jumping,"ski jumping men's large hill, individual",NaN,poland,NaN,NaN,NaN,NaN
269728,135570,piotr ya,M,27.0,176.0,59.0,poland,pol,2014 Winter,2014,winter,Sochi,ski jumping,"ski jumping men's large hill, team",NaN,poland,NaN,NaN,NaN,NaN
269729,135571,tomasz ireneusz ya,M,30.0,185.0,96.0,poland,pol,1998 Winter,1998,winter,Nagano,bobsleigh,bobsleigh men's four,NaN,poland,NaN,NaN,NaN,NaN
269730,135571,tomasz ireneusz ya,M,34.0,185.0,96.0,poland,pol,2002 Winter,2002,winter,Salt Lake City,bobsleigh,bobsleigh men's four,NaN,poland,NaN,NaN,NaN,NaN

In [323]:
df_summer[["bronze","gold","silver"]]

        bronze  gold  silver
0          0.0   0.0     0.0
1          0.0   0.0     0.0
2          0.0   0.0     0.0
3          0.0   1.0     0.0
4          NaN   NaN     NaN
...        ...   ...     ...
269726     NaN   NaN     NaN
269727     NaN   NaN     NaN
269728     NaN   NaN     NaN
269729     NaN   NaN     NaN
269730     NaN   NaN     NaN

[269731 rows x 3 columns]

In [324]:
df_summer.groupby(['NOC']).sum()[["bronze"	,"gold" ,"silver"]].sort_values(by = 'gold' , ascending=False).reset_index()

     NOC  bronze    gold  silver
0    usa  1197.0  2472.0  1333.0
1    urs   596.0   832.0   635.0
2    gbr   620.0   635.0   729.0
3    ger   649.0   592.0   538.0
4    ita   454.0   518.0   474.0
..   ...     ...     ...     ...
225  wif     5.0     0.0     0.0
226  yem     0.0     0.0     0.0
227  yar     0.0     0.0     0.0
228  ymd     0.0     0.0     0.0
229  zam     1.0     0.0     1.0

[230 rows x 4 columns]

In [325]:
df_summer[(df_summer['NOC'] == 'ind') & (df_summer['Medal'] == "gold")]
##there is some mistake 
## --> India only has 9 Gold mdal but there is 138 bcz it divide inot each player not in WHole team

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,bronze,gold,silver
4729,2699,shaukat ali,M,30.0,NaN,NaN,india,ind,1928 Summer,1928,summer,Amsterdam,hockey,hockey men's hockey,gold,india,NaN,0.0,1.0,0.0
4733,2703,syed mushtaq ali,M,22.0,165.0,61.0,india,ind,1964 Summer,1964,summer,Tokyo,hockey,hockey men's hockey,gold,india,NaN,0.0,1.0,0.0
5026,2864,richard james allen,M,25.0,172.0,NaN,india,ind,1928 Summer,1928,summer,Amsterdam,hockey,hockey men's hockey,gold,india,NaN,0.0,1.0,0.0
5027,2864,richard james allen,M,30.0,172.0,NaN,india,ind,1932 Summer,1932,summer,Los Angeles,hockey,hockey men's hockey,gold,india,NaN,0.0,1.0,0.0
5028,2864,richard james allen,M,34.0,172.0,NaN,india,ind,1936 Summer,1936,summer,Berlin,hockey,hockey men's hockey,gold,india,NaN,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232537,117232,dung dung sylvanus,M,31.0,160.0,62.0,india,ind,1980 Summer,1980,summer,Moskva,hockey,hockey men's hockey,gold,india,NaN,0.0,1.0,0.0
235232,118553,carlyle carrol tapsell,M,23.0,182.0,NaN,india,ind,1932 Summer,1932,summer,Los Angeles,hockey,hockey men's hockey,gold,india,NaN,0.0,1.0,0.0
235233,118553,carlyle carrol tapsell,M,27.0,182.0,NaN,india,ind,1936 Summer,1936,summer,Berlin,hockey,hockey men's hockey,gold,india,NaN,0.0,1.0,0.0
249439,125560,"max ""maxie"" vaz",M,NaN,NaN,NaN,india,ind,1948 Summer,1948,summer,London,hockey,hockey men's hockey,gold,india,NaN,0.0,1.0,0.0
265572,133554,sayed muhammad yusuf,M,NaN,NaN,NaN,india,ind,1928 Summer,1928,summer,Amsterdam,hockey,hockey men's hockey,gold,india,NaN,0.0,1.0,0.0

In [326]:
df_summer_telly = df_summer.drop_duplicates(subset=["Team" , "NOC" , "Games" , "Year" , 'City' , 'Sport' , 'Event' , 'Medal'])
df_summer_telly

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,bronze,gold,silver
0,1,a dijiang,M,24.0,180.0,80.0,china,chn,1992 Summer,1992,summer,Barcelona,basketball,basketball men's basketball,NaN,china,NaN,0.0,0.0,0.0
1,2,a lamusi,M,23.0,170.0,60.0,china,chn,2012 Summer,2012,summer,London,judo,judo men's extra-lightweight,NaN,china,NaN,0.0,0.0,0.0
2,3,gunnar nielsen aaby,M,24.0,NaN,NaN,denmark,den,1920 Summer,1920,summer,Antwerpen,football,football men's football,NaN,denmark,NaN,0.0,0.0,0.0
3,4,edgar lindenau aabye,M,34.0,NaN,NaN,denmark/sweden,den,1900 Summer,1900,summer,Paris,tug-of-war,tug-of-war men's tug-of-war,gold,denmark,NaN,0.0,1.0,0.0
4,5,christine jacoba aaftink,F,21.0,185.0,82.0,netherlands,ned,1988 Winter,1988,winter,Calgary,speed skating,speed skating women's 500 metres,NaN,netherlands,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269710,135559,pawe jan zygmunt,M,25.0,182.0,79.0,poland,pol,1998 Winter,1998,winter,Nagano,speed skating,"speed skating men's 5,000 metres",NaN,poland,NaN,NaN,NaN,NaN
269711,135559,pawe jan zygmunt,M,29.0,182.0,79.0,poland,pol,2002 Winter,2002,winter,Salt Lake City,speed skating,"speed skating men's 5,000 metres",NaN,poland,NaN,NaN,NaN,NaN
269712,135559,pawe jan zygmunt,M,29.0,182.0,79.0,poland,pol,2002 Winter,2002,winter,Salt Lake City,speed skating,"speed skating men's 10,000 metres",NaN,poland,NaN,NaN,NaN,NaN
269713,135559,pawe jan zygmunt,M,33.0,182.0,79.0,poland,pol,2006 Winter,2006,winter,Torino,speed skating,"speed skating men's 5,000 metres",NaN,poland,NaN,NaN,NaN,NaN
269714,135560,stavroula zygouri,F,36.0,171.0,63.0,greece,gre,2004 Summer,2004,summer,Athina,wrestling,"wrestling women's middleweight, freestyle",NaN,greece,NaN,0.0,0.0,0.0

In [327]:
df_summer_telly_3 = df_summer_telly.groupby(["NOC"]).sum()[["bronze","gold" ,"silver"]].sort_values('gold' , ascending=False).reset_index()
df_summer_telly_3

     NOC  bronze    gold  silver
0    usa   708.0  1035.0   802.0
1    urs   294.0   394.0   317.0
2    gbr   300.0   278.0   317.0
3    ger   283.0   235.0   261.0
4    fra   287.0   234.0   256.0
..   ...     ...     ...     ...
225  wif     2.0     0.0     0.0
226  yem     0.0     0.0     0.0
227  yar     0.0     0.0     0.0
228  ymd     0.0     0.0     0.0
229  zam     1.0     0.0     1.0

[230 rows x 4 columns]

In [328]:
df_summer_telly_3[df_summer_telly_3['NOC'] == "ind"]

    NOC  bronze  gold  silver
50  ind    12.0   9.0     7.0

In [329]:
df_summer_telly[df_summer_telly['region'] == 'india'].groupby(['region']).sum()[["bronze","gold" ,"silver"]]

        bronze  gold  silver
region
india     12.0   9.0     7.0

In [349]:
def FindMedal(Country_name):
    #Country_name = Country_name.lower()
    #print(Country_name)
    
    if len(Country_name) == 3:
        x = df_summer_telly[df_summer_telly['NOC'] == Country_name]
        return x.groupby(['NOC' ]).sum()[["bronze","gold" ,"silver"]]
        
    else:
        y = df_summer_telly[df_summer_telly['region'] == Country_name]
        return y.groupby(['region']).sum()[["bronze","gold" ,"silver"]]

In [352]:
FindMedal("ind")

     bronze  gold  silver
NOC
ind    12.0   9.0     7.0